<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RecipeName</key>
	<array>
		<string>Egg Benedict</string>
		<string>Mushroom Risotto</string>
		<string>Full Breakfast</string>
		<string>Creme Brelee</string>
		<string>Starbucks Coffee</string>
		<string>Green Tea</string>
	</array>
	<key>Thumbnail</key>
	<array>
		<string>egg_benedict.jpg</string>
		<string>mushroom_risotto.jpg</string>
		<string>full_breakfast.jpg</string>
		<string>creme_brelee.jpg</string>
		<string>starbucks_coffee.jpg</string>
		<string>green_tea.jpg</string>
	</array>
	<key>PrepTime</key>
	<array>
		<string>20 mins</string>
		<string>10 mins</string>
		<string>25 mins</string>
		<string>10 mins</string>
		<string>15 mins</string>
		<string>5 mins</string>
	</array>
</dict>
</plist>
